/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/

body {
    background: white;     /* red, blue, yellow, etc */
    color: black;             /* red, blue, yellow, etc */
    font-size: 20px;        /* 0px - 100px and beyond */
    font-weight: normal;   /* lighter, normal, bold  */
    text-align: center;      /* left, center or right  */ 
}
.main{
margin-top: 120px;        /* From 0px and upwards   */
}
.search-input{
    display: block;
    width: 300px;
}
.logo-img{
    display: block;
    width: 400px;
}
body {
    margin:0;
}

.red {
    background: #c71226;
    height: 100px;
    /*Challenge:
    Add 100px of margin on the bottom of the red box. */
    
}

.blue {
    background: #0d1b88;
    margin-top: 10px;
    height: 80px;
    margin-bottom: 10px;
}

.green {
    background: #397327;
    height: 100px;
}
