/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/

body {
    background: white;
    /* red, blue, yellow, etc */
    color: black;
    /* red, blue, yellow, etc */
    font-size: 20px;
    /* 0px - 100px and beyond */
    font-weight: normal;
    /* lighter, normal, bold  */
    text-align: center;
    /* left, center or right  */
}

.main {
    margin-top: 140px;
    text-align: center;
    /* From 0px and upwards   */
}

.logo-img {
    display: block;
    width: 272px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    font-family: arial, sans-serif;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    
    z-index: 3;
    min-height: 14px;
    background: #fff;
    box-shadow: none;
    margin: 0 auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
.btn {
    /* width: 200px; */
    margin-top: 30px;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #0f1419;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    text-align: center;
}
/*
.buscar {}

 .suerte {
    color: #0f1419;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    width: 200px;
    text-align: center;
} */

/*Para la bandera */

body {
    margin: 8px;
}






.red {
    background: #c71226;
    height: 100px;
    /*Challenge:
    Add 100px of margin on the bottom of the red box. */

}

.blue {
    background: #0d1b88;
    margin-top: 15px;
    height: 70px;
    margin-bottom: 15px;
}

.green {
    background: #397327;
    height: 100px;
}